<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">node.js</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/list">List</a>
        <a class="nav-link" href="/write">Write</a>
      </div>
    </div>
    <div class="login-con collapse navbar-collapse" id="navbarNavAltMarkup">
      <a href="/login" class="nav-link">| Log in |</a>
      <a href="/mypage" class="nav-link">| My page |</a>
    </div>
  </div>
</nav>
