<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="time.css">
    <title>EJS 숙제 : 서버시간</title>
</head>
<body>
    <h3>숙제 : /time으로 접속하면 현재 서버의 시간을 보내주는 기능 제작</h3>
    <div class="time-box">
        <span><%= time %></span>
    </div>
</body>
</html>