body {
    margin: 0;
}

h3 {
    margin-top: 50px;
    display: block;
    text-align: center;
}

.time-box {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.15);
    transition: all 0.5s;
    padding: 12px 20px;
}

.time-box:hover {
    box-shadow: 4px 4px 12px 1px rgba(0,0,0,0.2);
}

.time-box > span {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #222;
}